@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700,900");

body {
  font-family: "Lato", sans-serif;
  box-sizing: border-box;
}

.center {
  text-align: center;
}



header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 75px;
  background: #000000;
  z-index: 10;
}


.page {
  margin-top: 20px;
}
.previousButton {
  left: 0;
  -webkit-transform: rotate(180deg) translateY(calc(50% + 0px));
  transform: rotate(180deg) translateY(calc(50% + 0px));
}
.previousButton,
.nextButton {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  background: url("http://svgshare.com/i/41_.svg") no-repeat center center /
    16px;
  width: 32px;
  height: 32px;
  text-indent: -9999px;
  cursor: pointer;
}

header section {
  max-width: 1300px;
  height: 35px;
  margin: auto;
  padding: 20px;
  background: #ffd800;
}
@media (max-width: 768px){
  .previousButton,
  .nextButton {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    background: url("http://svgshare.com/i/41_.svg") no-repeat center center /
      16px;
    width: 32px;
    height: 32px;
    text-indent: -9999px;
    cursor: pointer;
  }
}
@media (min-width: 768px) and (max-width: 992px) {

}
@media (max-width: 1515px) {
  header section {
    max-width: 100%;
  }
}

header section .logo {
  transform: translateX(-87px);
}

header section a {
  float: right;
  padding: 3px 0;
}

.slider-wrapper {
  position: relative;
  height: 30vh;
  overflow: hidden;
  max-width: 1100px;
  margin: 0 auto;

}

.slide {
  height: 60vh;
  background-size: cover !important;
}

.slide::before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
  left: 0;
}



@media (min-width: 992px) and (max-width: 1800px){
  .previousButton,
  .nextButton {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    background: url("http://svgshare.com/i/41_.svg") no-repeat center center /
      16px;
    width: 32px;
    height: 32px;
    text-indent: -9999px;
    cursor: pointer;
  }

}



/*ipad*/
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) 
and (-webkit-min-device-pixel-ratio: 1) {
  .previousButton,
.nextButton {
  position: absolute;
  transform: translateY(-50%);
  z-index: 10;
  background: url("http://svgshare.com/i/41_.svg") no-repeat center center /
    16px;
  width: 32px;
  height: 32px;
  text-indent: -9999px;
  cursor: pointer;
  top: 30%;
}
}
/*ipad pro*/
@media only screen and (min-device-width: 1024px) and (max-device-height: 1366px) and (-webkit-min-device-pixel-ratio: 2)  and (orientation: portrait)  {
  .previousButton,
.nextButton {
  position: absolute;
  top: 20%;
  transform: translateY(-50%);
  z-index: 10;
  background: url("http://svgshare.com/i/41_.svg") no-repeat center center /
    16px;
  width: 32px;
  height: 32px;
  text-indent: -9999px;
  cursor: pointer;
}
}

.previousButton:hover,
.nextButton:hover {
  background: url("http://svgshare.com/i/41_.svg") no-repeat center center /
    16px;
}

.previousButton {

  left: 0;
  -webkit-transform: rotate(180deg) translateY(calc(50% + 0px));
  transform: rotate(180deg) translateY(calc(50% + 0px));
}

.previousButton:hover {
  left: -10px;
}

.nextButton {
  right: 0;
}

.nextButton:hover {
  right: -10px;
}


.pagination{
  margin-top: -100px
}
 .product> h3 {
 

  max-width: 840px;

  line-height: 1;
}

.product>p{
  width: 100%;
}

@media (min-height: 600px) {
  .slider-wrapper,
  .slide {
    height: calc(100vh - 75px);
  }
}

@media (max-width: 767px) {
  .slider-wrapper,
  .slide {
    height: calc(90vh - 75px);
  }
}

@media (max-height: 600px) {
  .product h1 {
    font-size: 32px;
  }
}

@media (max-width: 640px) {
    .product h3 {
    font-size: 32px;
  }
}
@media (min-height: 900px) and (min-width: 1800px){

  .slider-wrapper {
    position: relative;
    height: 100vh;
    overflow: hidden;
    max-width: 75%;
    margin: 0 auto;
  
  }
.previousButton,
  .nextButton {
    position: absolute;
    top: 30%;
   
    z-index: 10;
    background: url("http://svgshare.com/i/41_.svg") no-repeat center center /
      16px;
    width: 32px;
    height: 32px;
    text-indent: -9999px;
    cursor: pointer;
  }
  
  
}